/* tag.class */
nav.top-bar {
    background-color: #010101;
    color: #fff;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
}

main, section > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    background-color: #F0F;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.circle{
    border-radius: 50%;
}

.primary {
    background-color: #dbe219;
}

.secundary {
    background-color: rgb(255, 85, 0);
}

.row{
    display: flex;
    align-items: center;
    gap: 5px;
}

section {
    width: 100%;
    max-width: 1366px;
}

.collum {
    flex-grow: 1;
}

section.center{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px auto;
    gap: 20px;
}

div.col {
    display: flex;
    width: 100%;
    max-width: 1366px;
    /* fluxo do flex é em linha e aceita quebra de linha */
    flex-flow: row wrap;
    gap: 20px;
}

div.col > div{
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100px; 
}

div.col.lg-3 > div{
    flex-basis: calc(33.333% - 20px); 
}

div.col.lg-4 > div{
    flex-basis: calc(25% - 20px); 
}

.shadow {
    /* horizontal vertical blur spread cor */
    /* FUNDOS 
        - escuros sombra clara
        - claros sombra escura
    */
    box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px 1px rgba(0,0,0,0.5);
}

/* :hover - passar o mouse em cima */
.button.shadow:hover {
    /*aplique cores de sombra segundo a paleta do tema*/
    box-shadow: 2px 2px 6px 1px rgba(254, 2, 2, 0.5);
    -webkit-box-shadow: 2px 2px 6px 1px rgba(255, 0, 0, 0.5);
    -moz-box-shadow: 2px 2px 6px 1px rgba(255, 0, 0, 0.5);
}

div.shadow:hover{
    box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px 3px rgba(0,0,0,0.5);
}

/* todos que tem sombra e estão ativos */
.shadow:hover:active{
    box-shadow: -2px -2px 6px 3px rgba(0,0,0,0.25) inset;
    -webkit-box-shadow: -2px -2px 6px 3px rgba(0,0,0,0.25) inset;
    -moz-box-shadow: -2px -2px 6px 3px rgba(0,0,0,0.25) inset;
}

span.big-number{
    display: block;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 20px auto 0;
}

p.description{
    text-align: center;
    color: rgba(0,0,0,0.50);
    font-size: small;
}

.hidden{
    /*display: none;  não tem */
    visibility: hidden;
    opacity: 0;
    transition: opacity 2s ease;
}

/* qualquer div pai de um hidden */
div:hover > .hidden{
    /*display: block;*/
    visibility: visible;
    opacity: 1;
}

.linkedin{
    height: 30px;
    width: 30px;
    padding: 0;
    
    background-image: url("linkedin.png");
    background-size: cover;
    background-position: center;
}

.gmail{
    height: 30px;
    width: 30px;
    padding: 0;
    
    background-image: url("gmail.png");
    background-size: cover;
    background-position: center;
}

.parallax{
    height: 300px;

    background-image: url("senac.jpg");
    background-size: cover;
    background-position: center;

    background-attachment: fixed; /* efeito de paralax*/
    color: white;
    max-width: 100%;
}

.content{
    max-width: 1366px;
}

.menu{
    text-decoration: inherit;
    color: #fff;
}

#link_about{
    color:#dbe219
}